@import url( '//fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic|Playfair+Display:400,700,900,400italic,700italic,900italic' );
@import url( '../library/css/one-five.min.css' );
@import url( '../library/css/gallery.min.css' );
@import url( 'font-awesome.min.css' );
@import url( '../style.min.css' );

/* Styles specific to the editor. */

body#tinymce,
html.wp-fullscreen body#tinymce {
	max-width: 650px;
	margin:    0 auto;
	padding:   1.5rem 1.5rem 0;
	border:    none;
}
